<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", rifle_range_days_path(params[:rifle_id])  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_rifle_range_day_path(params[:rifle_id]) %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.new", :default => "New")%>  RangeDay</h2>
    <div class="inner">
      <%= form_for :range_day, :url => rifle_range_days_path(params[:rifle_id]), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
